name: Docker Build Workflow

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main

jobs:
  build_type_check_test:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code from the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Build the Docker image
      - name: Build Docker image
        run: docker build -t mapviz:${{ github.sha }} .
      
       # Run mypy
      - name: Run mypy
        run: |
          docker run --rm mapviz:${{ github.sha }} sh run_lint.sh

      # TODO::Run unit tests
